[submodule "submodules/wiki"]
	path = submodules/wiki
	url = https://github.com/elboulangero/goodvibes.wiki.git
	branch = master
[submodule "submodules/docker"]
	path = submodules/docker
	url = https://github.com/elboulangero/goodvibes-docker.git
	branch = master
[submodule "submodules/debian"]
	path = submodules/debian
	url = https://github.com/elboulangero/goodvibes-debian.git
	branch = master
